Repository jpizquierdo/pyteslamate: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, codespell, mypy, yamllint, pylint, pytest

ruff-check:
  name: ğŸ¶ Ruff Linter
  language: system
  entry: uv run ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: ğŸ¶ Ruff Formatter
  language: system
  entry: uv run ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

codespell:
  name: âœ… Check code for common misspellings
  language: system
  entry: uv run codespell
  args:
  - --ignore-words=.codespell-ignore

mypy:
  name: ğŸ† Static type checking using mypy
  language: system
  entry: uv run mypy

yamllint:
  name: ğŸ— Check YAML files with yamllint
  language: system
  entry: uv run yamllint .

pylint:
  name: ğŸŒŸ Starring code with pylint
  language: system
  entry: uv run pylint

pytest:
  name: ğŸ§ª Running tests and test coverage with pytest
  language: system
  entry: uv run pytest
  pass_filenames: false

Update README.md with detailed usage instructions and add .coverage to .gitignore
  .coverage
  .gitignore
  README.md
Due: codespell

Update README.md with detailed usage instructions and add .coverage to .gitignore (#2)
  .coverage
  .gitignore
  README.md
Due: codespell

Add response examples and tests for CarUpdates and GlobalSettings
  src/pyteslamate/pyteslamate.py
  tests/response_examples.py
  tests/test_client.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

Add response examples and tests for CarUpdates and GlobalSettings (#3)
  src/pyteslamate/pyteslamate.py
  tests/response_examples.py
  tests/test_client.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

update `README.md` with current limitations and future work
  README.md
Due: codespell

update `README.md` with current limitations and future work (#4)
  README.md
Due: codespell

fix release workflow with github workspace
  .github/workflows/python-publish.yaml
Due: codespell, yamllint

add workflow dispatch to test
  .github/workflows/python-publish.yaml
Due: codespell, yamllint

Fix release workflow (#5)
  .github/workflows/python-publish.yaml
Due: codespell, yamllint

fix workflow
  .github/workflows/python-publish.yaml
Due: codespell, yamllint

fix test_smoke name
  .github/workflows/python-publish.yaml
Due: codespell, yamllint

Fix release workflow (#6)
  .github/workflows/python-publish.yaml
Due: codespell, yamllint

add shields to README
  README.md
Due: codespell

update badges
  README.md
Due: codespell

Add shields to README (#7)
  README.md
Due: codespell

fix broken url in `README.md`
  README.md
Due: codespell

fix broken url in `README.md` (#8)
  README.md
Due: codespell

Add current charge retrieval functionality and update README compatibility badge to be aligned with teslamateapi v1.24.1
  README.md
  examples/basic_usage.py
  src/pyteslamate/models.py
  src/pyteslamate/pyteslamate.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

Fix `RangeModelCurrentCharge` model and create tests for retrieval functionality
  src/pyteslamate/models.py
  tests/response_examples.py
  tests/test_client.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

Add current charge (#9)
  README.md
  examples/basic_usage.py
  src/pyteslamate/models.py
  src/pyteslamate/pyteslamate.py
  tests/response_examples.py
  tests/test_client.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

Release v0.1.1
  pyproject.toml
  uv.lock
Due: codespell

Release v0.1.1 (#10)
  pyproject.toml
  uv.lock
Due: codespell

fix current charge models
  pyproject.toml
  src/pyteslamate/models.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

fix time_to_full_charge datatype to float. fit change details in ChargeCurrent model
  src/pyteslamate/models.py
  tests/response_examples.py
  uv.lock
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

Bug fix current charge (#11)
  pyproject.toml
  src/pyteslamate/models.py
  tests/response_examples.py
  uv.lock
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

update Cars model name
  src/pyteslamate/models.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

update Cars model name (#12)
  src/pyteslamate/models.py
Due: ruff-check, ruff-format, codespell, mypy, pylint, pytest

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  codespell: any file but: ^(uv\.lock)$
  mypy: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
  pylint: any of: \.py$
  pytest: any of: \.py$
